body {
    background: url("./photos/sport.jpg");background-size: cover;
}


.intro {
    background-color: #b5a19e;
}

.form-body {
    background-color: #FDCCCC ;
}
#btnRow {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#playerForm {
    margin: auto;
    width: 45%;
    
}


#draftedPlayers {
    width: 40%;
    border: 2px solid #f0caa3;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    height: fit-content;
    padding: 20px;
}

#expelPlayers {
    width: 40%;
    border: 2px dashed orangered;
    background-color: rgba(12226, 120, 222, 0.3);

    display: flex;
    flex-wrap: wrap;
    align-content: start;
    height: fit-content;
    padding: 20px;
}

.player-container {
    display: flex;
    flex-direction: row;
    gap: 2px 40px;
    margin-left: 15%;
}

h5 {
    margin-top: 20px;
    color: white;
}

.draft-btn {
margin: 15px;
background-color: orange;
color: black
}
.draft-btn:hover {
    background-color: green;
}
.sport-card{
    margin-top: 20px;
    margin-left: 25%;
    padding-bottom: 20px;
    align-content: center;
    width: auto;
    background-color: #ffa200
}
.m-1 {
   will-change: contents;
}
#all {
    background-color: #f542bf;
    color: black;
}
#basketball {
    background-color: #9c7908;
}
#soccer{
    background-color: #65069c;
}
div.row.sport-card {
    background-color: #47739e;
    width: 140px;
    height: 190px;
    margin: 5px;
    border-radius: 20px;
}
div.card.mb-3 {
background-color: #95cfc0;
width: 180px;
height: 200px;
margin: 5px;
border-radius: 20px;

}
